exportPattern("^[[:alpha:]]+")
importFrom(purrr,map)
importFrom(purrr,map_chr)
importFrom(purrr,map_lgl)
importFrom(purrr,map2)
importFrom(purrr,reduce)
importFrom(purrr,pluck)
importFrom(lubridate,day)
importFrom(lubridate,days)
importFrom(lubridate,hours)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(lubridate,isoyear)
importFrom(lubridate,isoweek)
importFrom(lubridate,is.Date)
importFrom(lubridate,ym)
importFrom(lubridate,ceiling_date)
importFrom(lubridate,floor_date)
importFrom(lubridate,is.POSIXct)
importFrom(dplyr,select)
importFrom(dplyr,left_join)
importFrom(dplyr,arrange)
importFrom(dplyr,full_join)
importFrom(dplyr,relocate)
importFrom(dplyr,filter)
importFrom(dplyr,filter_all)
importFrom(dplyr,all_vars)
importFrom(dplyr,any_vars)
importFrom(dplyr,mutate)
importFrom(dplyr,ungroup)
importFrom(dplyr,transmute)
importFrom(dplyr,group_by)
importFrom(dplyr,group_walk)
importFrom(dplyr,group_map)
importFrom(dplyr,bind_rows)
importFrom(dplyr,distinct)
importFrom(dplyr,pull)
importFrom(dplyr,distinct_all)
importFrom(dplyr,case_when)
importFrom(dplyr,tbl)
importFrom(dplyr,collect)
importFrom(dplyr,distinct)
importFrom(dplyr,rename)
importFrom(dplyr,rowwise)
importFrom(dplyr,count)
importFrom(dplyr,row_number)
importFrom(dplyr,summarize)
importFrom(dplyr,slice_max)
importFrom(data.table,data.table)
importFrom(data.table,rbindlist)
importFrom(data.table,setkey)
importFrom(data.table,setDT)
importFrom(data.table,fread)
importFrom(data.table,fwrite)
importFrom(data.table,fifelse)
importFrom(data.table,between)
importFrom(data.table,fcase)
importFrom(data.table,copy)
importFrom(data.table,merge.data.table)
importFrom(data.table,`:=`)
importFrom(data.table,`%chin%`)
importFrom(stringr,str_split)
importFrom(stringr,str_detect)
importFrom(stringr,str_starts)
importFrom(stringr,str_ends)
importFrom(stringr,str_split_fixed)
importFrom(stringr,str_detect)
importFrom(stringr,str_to_title)
importFrom(stringi,stri_enc_toutf8)
importFrom(stringi,stri_unescape_unicode)
importFrom(stringi,stri_replace_all_regex)
importFrom(readxl,read_excel)
importFrom(readxl,excel_sheets)
importFrom(writexl,write_xlsx)
importFrom(rlang,enexprs)
importFrom(rlang,enquo)
importFrom(rlang,quo_name)
importFrom(rlang,as_name)
importFrom(magrittr,`%>%`)
importFrom(jsonlite,parse_json)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,read_json)
importFrom(jsonlite,toJSON)
importFrom(httr,POST)
importFrom(readr,guess_encoding)
importFrom(readr,read_csv)
importFrom(readr,locale)
importFrom(rvest,read_html)
importFrom(rvest,html_elements)
importFrom(rvest,html_attr)
importFrom(rvest,html_attrs)
importFrom(rvest,html_element)
importFrom(rvest,html_children)
importFrom(rvest,html_text2)
importFrom(collapse,funique)
importFrom(collapse,fselect)
importFrom(reticulate,import)
importFrom(reticulate,py_run_string)
importFrom(reticulate,py_run_file)
importFrom(reticulate,use_python)
importFrom(reticulate,py_module_available)
importFrom(reticulate,py)
importFrom(telegram.bot,Bot)
importFrom(httr2,resp_body_json)
importFrom(httr2,request)
importFrom(httr2,req_auth_bearer_token)
importFrom(httr2,req_url_path_append)
importFrom(httr2,req_auth_bearer_token)
importFrom(httr2,req_url_query)
importFrom(httr2,req_url_query)
importFrom(httr2,req_error)
importFrom(httr2,req_perform)
importFrom(gargle,token_fetch)
importFrom(callr,r_bg)
importFrom(callr,r_session)
importFrom(callr,r_session_options)
importFrom(mirai,everywhere)
importFrom(mirai,daemons)
importFrom(mirai,mirai)